<!DOCTYPE html>
<html>
  <head>
    <title>Resume Page</title>
  </head>
  <body>
    <header>
      <h2>Ben Kenawell Resume</h2>
    </header>
    <main>
      <h3>Job Experience</h3>
    </main>
    <footer>

    </footer>
  </body>
</html>
