
.card {
  border: solid 1px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  background: lightsteelblue;
  transition: background 1s, box-shadow 1s;


  &:hover {
    background: lightblue;
    box-shadow: 5px 5px 5px;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  & > h2 {
    font-family: sans-serif;
  }
  & > button {
    font-style: underline;
    background: unset;
    text-decoration: underline;
    border: unset;
    color: black;
  }
}