:root {
--green-100: #48e929;
--green-200: #80f563;
--green-300: #afffb4;
--green-400: #ffebbd;
--green-500: #FFFAF0;

--bg-default: var(--green-500);
--bg-emphasis: var(--green-400);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-default);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  font-family: serif;
}

main {
  font-family: sans-serif;
  width: 80vw;
  margin: 1rem 0;
}

main > * {
  margin: 1rem 0;
}

footer {
  width: 100%;
  text-align: right;
  background-color: var(--bg-emphasis);
}

.section {
  border: 1px solid var(--green-200);
  padding: 0.1em 0.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* .section:hover {
  background-color: var(--bg-emphasis);
} */


.section>* {
  grid-column: 1 / span 2;
}

.section > *:empty {
  display: none;
}

/* selects the first non empty child of .section */
.section > *:empty + *, .section *:first-child:not(:empty) {
  grid-column: 1 / span 1;
  grid-row: 1;
}

.section > .date {
  grid-column: 2 / span 1;
  grid-row: 1;
  justify-self: flex-end;
}

.description {
  font-size: 0.9rem;
}

